@font-face {
  font-family: "Formula Condensed";
  src: url("/fonts/formula_condensed.woff2") format("woff2"),
    url("/fonts/formula_condensed.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Neue Montreal", sans-serif;
}

#overlay-light {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #d7d7d7;
  z-index: 1;
}

#overlay-dark {
  position: absolute;
  width: 100vw;
  height: 100%;
  background: #202020;
  z-index: 2;
}

.content {
  width: 100%;
  height: 100vh;
  padding: 1em 0;
}

.content > * {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
  color: #d7d7d7;
}

.divider {
  width: 100%;
  height: 1px;
  background: #d7d7d7;
  margin: 0.2em 0;
}

a {
  text-decoration: none;
  color: #d7d7d7;
}

.nav {
  font-size: 24px;
  font-family: "Formula Condensed";
  padding: 0 32px !important;
}

.nav-divider {
  margin-top: 1em;
}

.row {
  width: 100%;
  display: flex;
  padding: 0 2em;
}

.row > .col {
  position: relative;
  flex: 1;
}

.row > .col:first-child {
  flex: 2;
}
