@font-face {
  font-family: "Neue Bit";
  src: url("/fonts/neuebit.woff2") format("woff2"),
    url("/fonts/neuebit.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Neue Montreal", sans-serif;
  background-color: #202020;
}

.content {
  width: 100%;
  height: 100%;
  padding: 1em 0;
  overflow-y: auto;
}

.content > * {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
  color: #d7d7d7;
}

.divider {
  width: 100%;
  height: 1px;
  background: #d7d7d7;
  margin: 0.2em 0;
}

a {
  text-decoration: none;
  color: #d7d7d7;
}

a:hover {
  color: #d1fa3d;
}

.nav {
  font-size: 48px;
  font-family: "Neue Bit";
  padding: 0 32px !important;
}

.nav-divider {
  margin-top: 1em;
}

.row {
  width: 100%;
  display: flex;
  padding: 0.5em 2em;
  align-items: center;
}

.row > .col {
  position: relative;
  flex: 1;
}

.row > .col:first-child {
  flex: 2;
}

.desc {
  font-size: 11px;
  color: #9dbb31;
}